.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }